
body{
background-color: #252525;
margin: 0px;
}
.background{
	opacity: 0.2;
}
.bar{width:100%;overflow:hidden;background-color: #333;}
.bar .bar-item{
padding:10px 16px;
width:auto;
border:none;
outline:none;
display:inline-block;
font-family: Roboto, sans-serif;
text-decoration: none;}
.center {text-align: center;}
.center .bar{display:inline-block;width:auto;}
.block {max-width:980px;margin:auto; overflow: hide;}

.hover-ef:hover{
	color:white;
	transition: 0.3s;
}
.teal{color: #4dd0e1;}
.red{color: #3e8e41;}
.left{float: left !important;}
.right{float: right !important;}
.top,.bottom{position:fixed;width:100%;z-index:1}.top{top:0}.bottom{text-align: center;bottom:0}
.data{
	align-items: center;
	width: 100%;
	padding: 150px 30px;
}
.card {
	text-align: center;
	background-color: #333;
		width:200px;
    /* Add shadows to create the "card" effect */
    box-shadow: 1px 2px 2px 1px #3e8e41;
    transition: 0.3s;
		overflow:hidden;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 2px 4px 4px 2px #3e8e41;
}
.insertF{
	padding: 0px;
}
.insertF input[type=text]{
	border: none;
	height: 32px;
	padding: 0px 10px;
	box-shadow:1px 1px 1px 1px #3e8e41;
	border-radius: 2px;
	background-color: none;
}
.insertF input[type=text]:hover{
	outline: none;
	box-shadow: 2px 2px 2px 2px #3e8e41;
	transition: 0.3s;
	overflow:hidden;
}
.insertF input[type=text]:focus{
	outline: none;
	box-shadow: 2px 2px 2px 2px #3e8e41;
	transition: 0.3s;
	overflow:hidden;
}
.insertF input[type=button]{
	border: none;
	height: 32px;
	background-color: #3e8e41;
	border-radius: 50%;
	padding: 0px 10px;
	border-radius: 2px;
	border-color: #3e8e41;
	background-color: none;
}
.insertF input[type=button]:hover{
	outline: none;
	overflow:hidden;
	transition: 0.5s;
}
.insertF input[type=button]:active {
  background-color: red;
}

header{
	font-size: 25px;
	text-align:center;
	font-family: georgia;
}
