
body{
background-color: #252525;
margin: none;
}
.bar{width:100%;overflow:hidden;background-color: #333;}
.bar .bar-item{
padding:10px 16px;
width:auto;
border:none;
outline:none;
display:inline-block;
font-family: Roboto, sans-serif;
text-decoration: none;}
.center {text-align: center;}
.center .bar{display:inline-block;width:auto;}
.block{
	max-width:980px;
	margin: auto;
	margin-top: 64px;
	overflow:hide;
}
.teal{color: teal;}
.lime{color: lime;}
.left{float: left !important;}
.right{float: right !important;}
.top,.bottom{position:fixed;width:100%;z-index:1}
.top{top:0}
.bottom{text-align: center;bottom:0}
.card {
	display: inline-block;
	text-align: center;
	background-color: #333;
	margin: 4px 10px;
	width:220px;
	height: 140px;
	transition:0.3s;
	overflow: hidden;
	border-radius: 10px;
}
.card:hover {box-shadow: 0px 1px lime;}
input[type=text]{
	border: none;
	height: 32px;
	padding: 0px 10px;
	margin: 0px 2px;
	border-radius: 10px;
	background-color: #aaa;
}
input[type=text]:hover{
	outline: none;
	box-shadow: 0px 1px lime;
	transition: 0.3s;
	overflow:hidden;
}
input[type=text]:focus{
	outline: none;
	box-shadow: 0px 1px lime;
	transition: 0.3s;
	overflow:hidden;
}
input[type=button]{
	outline: none;
	border: none;
	height: 32px;
	background-color: lime;
	padding: 0px 10px;
	border-radius: 10px;
	border-color: lime;
	background-color: none;
}
input[type=button]:active {
  background-color: green;
}
.slide{
	display: block;
	background: #333;
	padding: auto;
	position: relative;
	top: 200px;
}
.card:hover .slide{
	display: block;
	position: relative;
	top: -10px;
	transition: 0.3s;
}
header{
	font-size: 25px;
	text-align:center;
	font-family: georgia;
}
